html,
body {
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: rgb(188, 199, 193);
  overflow: hidden;
}


.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
.table{
  width: 420px;
  height: 600px;
  border: 1px solid #a3e1c3;
  background-color: rgb(169, 210, 207);
  border-radius: 12px;
  padding: 5px;
}

.atribute{
  display: grid;
  grid-template-columns: 110px 90px 60px 100px;
  gap: 20px;
  padding: 2px; 
  margin-bottom: 20px;
  border-bottom: 1px solid #030806;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.atribute div{
  color: rgb(55, 54, 53);
  border-radius: 12px;
  border-right-color: 1px rgb(55, 54, 53);;
  background-color:  rgb(138, 218, 188);
  text-align: center;
}

.req{
  margin-top: 20px;
  border-radius: 12px;
  background-color: aquamarine;
  border: #a3e1c3 1px;
  width: 400px;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.req:active{
  background-color: #a3e1c3;
}

.cum{
  display: grid;
  grid-template-columns: 110px 90px 60px 100px 20px;
  gap: 20px; 
  border-bottom: 2px solid #fff;
}

.c {
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.delete{
  width: 20px;
  height: 20px;
  background-color: rgb(255, 111, 0);
  font-size: 10px;
  text-align: center;
}

@media (max-width: 500px) {
  .table {
    width: 95%;  /* на очень маленьких экранах занимает почти всю ширину */
    width: 260px;
    font-size: 10px;
  }
  
  .req {
    width: 95%;  /* на очень маленьких экранах занимает почти всю ширину */
    max-width: 267px;
  }
  
  .atribute,
  .cum {
    grid-template-columns: 65px 50px 35px 60px;  /* еще немного уменьшаем */
    gap: 10px;
  }
  .c{
    font-size: 8px;
    
  }
}
