<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Style.css') }}"
    />
    <!-- <link rel="stylesheet" href="Style.css"> -->
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <div class="table">
        <div class="atribute">
          <div class="atribute-username">username</div>
          <div class="atribute-number">number</div>
          <div class="atribute-code">code</div>
          <div class="atribute-password">password</div>
        </div>
        <div class="cum" data-username="Dinelore" data-number="79298270619" data-code="11111"><div class="cum-username c" data-username="Dinelore" data-field-type="username">Dinelore</div><div class="cum-number c" data-number="79298270619" data-field-type="number">79298270619</div><div class="cum-code c" data-code="11111" data-field-type="code">11111</div><div class="delete"></div></div>
        
      </div>
      <button class="req">
        Обновить
      </button>
    </main>
    <script src="{{ url_for('static', filename='js/Main.js') }}"></script>
  </body>
</html>
